:root {

    --logoColor: rgb(0, 150, 0);

    --buttonBackground: rgb(74, 160, 241);
    --buttonText: white;
    --buttonHoverBack: rgb(0, 132, 255);;

    --headerBackground: rgb(245, 245, 220);
    --headerText: black;

    --sideMenuBack: rgba(0, 117, 0, 0.1);
    --sideMenuButtonBack: white;
    --sideMenuButtonBorder: green;
    --sideMenuButtonHoverBack: green;
    --sideMenuButtonHoverText: white;

    --footerBackground: rgb(00, 170, 00);
    --footerText: black;
    --footerHoverText: white;
}