.sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*flex-basis: 200px;
    max-width: 25%;*/
    min-width: max-content;
    height: fit-content;
    padding: 1em;
    left: 0px;
    margin-right: 1%;

    position: sticky;
    top: 0;
    overflow-y: auto;
    
    background-color:var(--sideMenuBack) ;
  
  }
  .sideMenu button
  {
    background-color: var(--sideMenuButtonBack);    
    margin:  0.1em;
    align-self: center;
    border-radius: 5px;
    border: 1px solid var(--sideMenuButtonBorder);
    text-align: center;
    width: 90%;
    cursor: pointer;
    font-size: 1em;    
  }
  .sideMenu button:hover
  {
    background-color: var(--sideMenuButtonHoverBack);    
    color:  var(--sideMenuButtonHoverText);  
  }

  .side
  {
    margin: 5px;
  }