.item {
  padding: 15px;
  margin-bottom: 15px;

  width: 100%;

  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item1 {
  grid-area: Price;
  align-items: center;
}

.item2 {
  grid-area: Head;
  align-items: center;
}

.item3 {
  grid-area: From;
  align-items: center;
}

.item4 {
  grid-area: Order;
  align-items: center;
  display: flex;
}

.item5 {
  grid-area: To;
  align-items: center;
}

.item6 {
  grid-area: Rating;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'Head Head From Order'
    'Price Rating To Order';
  grid-gap: 0px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(252, 249, 249, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: "Calibry";
}