.aside {
	grid-area: side;
	//border-right: 1px solid $color-light;
	//background-color: $sideMenuBack;
	background-color: rgb(178, 223, 255);
	
	height: fit-content;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem;
    padding-right: 1.5rem;

	display: flex;
	flex-flow: column;	

	position: sticky;
    top: 0;
    overflow-y: auto;

	&--close {
		padding-bottom: 0.5rem;
	}
}

.sidemenu--close{
	display: none;
}

.sidePair{
	display: grid;
	grid-template-columns: auto 60%;
	gap: 5px;

	padding: 5px;

	&>span{
		justify-self: end;
	}
}

.sideGroup{
	padding-top:0.5rem;
}

.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-self: center;
	flex-wrap: wrap;

	padding-top:0.5rem;
}

.datepicker{
	width: auto;
}

.combobox{
	width: 100%;
}

.slider {
	accent-color: blue;
	width: 100%;
}

.numeric{
	//grid-column: span 2;
	//justify-self: end;
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 100%;
}

@media screen and (min-width: 40em) {	
	.sidePair {
		grid-template-columns: auto 60%;
		grid-template-rows: auto;
	}
	.numeric{
		width: auto;
	}
	
}

@media screen and (max-width: 40em) {	
	.sidePair {
		grid-template-columns: auto ;
		grid-template-rows: auto auto;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	.aside{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.numeric{
		margin-right: 0em;
		margin-left: 0em;
	}
}