footer {
    grid-area: foot;
    background:$footerBackground;
    padding: 32px 0;
    text-align: center;
    color: $footerText;
    font-size: 12px;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li {
    display: inline-block;
}
footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: $footerText;
}
footer li a:hover {
    color: $footerHoverText;
}   