// .filtr_zajezdu{
// 	background-color: fff;
// 	z-index: 1;
// 	position: sticky;
// }
 
 @media screen and (min-width: 40em) {	
 	.container {
 		@include container;
 		grid-template-columns: minmax(200px, 20%) 1fr;
 		column-gap: 1.5em; //mezera mezi bunkami
 	}
 }

 .container-wholeScreen{
 	//kdybysme responsivne nemenily 2 sloupce tak bych dal jako class="container tour"
 	@include container;
 	grid-template-areas: "main";
 	//max-width: 96rem;/*960px*/
	 max-width: 1100px;
 	align-content: center;
	//height: 100vh;
	//box-sizing: border-box;
 }

.gallery {
	display: grid;
	max-width: 1100px;
 }
  
  @media (max-width: 24.9999em) {
	.gallery {
	display: grid;
	max-width: 1100px;	
	  grid-template:
		"main main main"
		"thumb1 thumb2 thumb3" /
		1fr 1fr 1fr;
	}
  }
  
  @media (min-width: 43.75em) {
	.gallery {
		display: grid;
		max-width: 1100px;
	  grid-template:
		"main thumb1 thumb2" 110px
		"main thumb3 thumb3" / 3fr 1fr 1fr;
	}
  }
  
  .gallery-main-image {
	grid-area: main;
  }
  
  .gallery-thumb-one {
	grid-area: thumb1;
  }
  
  .gallery-thumb-two {
	grid-area: thumb2;
  }
  
  .gallery-thumb-three {
	grid-area: thumb3;
  }
  img {
	max-width: 100%;
	//height: auto;
	//display: block;
  }

