header {
    color: $headerText;
    padding: 0px 0px 10px 0px;
    text-align: left;
}

.no-decor{
    text-decoration: none;
}

.obr-bg {
    background-image: url("https://picsum.photos/1920/600");
    background-size: cover;
    background-position: 50%;
    height: 200px;
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 100px;
    color: $logoColor;
    margin: 0px;
}

@media screen and (max-width: 40em) {   //pro mobil
    .header-menu {
        @include header-menu;
        flex-flow: column wrap;
    }

    .header-menuButton {
        @include header-menuButton;
        flex: none;
    }
} 

@media screen and (min-width: 40em) {   //pro pc
    .header-menu {
        @include header-menu;
        flex-flow: row wrap;
    }   
    
    .header-menuButton {
        @include header-menuButton;
         flex: auto;
     }
}    