@mixin header-menu {
    display: flex;
    padding: 0.5em;
    background-color: $headerBackground;
}

@mixin header-menuButton {
    padding: 1em;
    background-color: $headerBackground;
}

@mixin container {
	display:grid;	
	//grid-template-columns: minmax(200px, 20%) 1fr;
	grid-template-areas: "side main";
	//max-width: 96rem;/*960px*/
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;/*15px*/
	padding-right: 1.5rem;
}

@mixin dropdown {
    position: relative;
    display: inline-block;
	margin: 2em;
    }
    
@mixin dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f96c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    }