main{
    grid-area: main;
}
// .tour-info {
//    display: flex; 
//    gap: 1.4em;
// }
img {
    max-width: 50vw;
}

.destination-info {
    flex: 1;
    flex-direction: column;
}
.heading-destination {
    display: inline-block;
}

h1.destinace {
    color: #1E90FF; /* Vyrazná barva, například oranžová */
    //text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); /* Méně rozmazaný stín */
    text-shadow: 2px 2px 2px rgba(52, 52, 52, 0.988); /* Stín s červenou barvou */
}

#formContainer{
    margin-top: 1em;
    max-width: $ButtonMaxWidth; //bylo by fajn aby sirka byla stejna jako u .btn-order
    width: $ButtonWidth;
}