$logoColor: rgb(0, 150, 0);

$buttonBackground: rgb(74, 160, 241);
$buttonText: white;
$buttonHoverBack: darken($buttonBackground,15%);;

$headerBackground: rgb(245, 245, 220);
$headerText: black;

$sideMenuBack: rgba(0, 149, 255, 0.3);
$sideMenuButtonBack: white;
$sideMenuButtonBorder: blue;
$sideMenuButtonHoverBack: rgb(0, 149, 255);
$sideMenuButtonHoverText: white;

$footerBackground: rgb(0, 149, 255);
$footerText: black;
$footerHoverText: white;

$color-primary: #2a5faa;
$color-secondary: #768ba8;
$color-light: #abb4c0;

$btn-backround:#b81c1c;
$btn-color:#fff;

$btn-submit-backround:#720303;

$contact-text: #026de0;